.page3 {
    background-image: url("assets/image/rasm1.png");
    background-repeat: no-repeat;
    background-position: left bottom;
}

.page4 {
    background-image: url("assets/image/rcs.png") !important;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-color: #F4F3F0;
}

.page5 {
    background-image: url("assets/image/rsc.png");
    background-repeat: no-repeat;
    background-position: left bottom;
}

.object-center {
    display: block;
    margin-right: auto;
    margin-left: auto;

}

.line {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.page1 {

    background: #F4F3F0;

}

@media only screen and(min-width: 992px) {
    .page4 {

    }
}
